html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
}

#monCanvas {
  display: block;
  border: 1px solid black;
  background-color: lightgrey;
  border-top: 0;
  height: auto;
  margin: 24px auto;
}
